body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo1 {
    font-size: 30px;
}

.logo2 {
    font-weight: bold;
    font-size: 24px;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
}

main {
    display: flex;
    padding: 20px;
}

aside {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

aside h2 {
    margin-top: 0;
}

.news-card {
    margin-bottom: 20px;
}

.news-card img {
    width: 100%;
    height: auto;
}

.latest-news {
    flex-grow: 1;
    padding-left: 20px;
}

.latest-news h2 {
    margin-top: 0;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.news-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.news-item img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

